@model IEnumerable<SquashNiagara.Models.PlayerRanking>

@{
    ViewData["Title"] = "Index";
}

<h2>Player Ranking</h2>

<p>
    @*<a asp-action="Create" class="btn btn-primary btn-sm">Create New</a>*@
</p>
@*<table class="table">*@

<form asp-action="PlayerRanking">
    <div class="form-horizontal">
        <div class="row well">
            <div class="form-group col-md-6">
                @foreach (Division i in @ViewBag.DivisionID)
                {
                    <button name="DivisionID" value="@i.ID" class="btn btn-primary btn-sm">@i.Name</button>
                }
            </div>
            <div class="form-group col-md-4">
                <label class="control-label col-md-6">Season:</label>
                @Html.DropDownList("SeasonID", (SelectList)ViewBag.SeasonID, new { onchange = "this.form.submit();" })
            </div>
        </div>
    </div>
</form>

<table id="indxFix" class="table table-striped table-bordered" style="width: 100%">
    <thead>
        <tr>
            <th>
                Player
            </th>
            <th>
                Average
            </th>
            <th>
                Played
            </th>
            <th>
                Won Matches
            </th>
            <th>
                Lost Matches
            </th>
            <th>
                Won Games
            </th>
            <th>
                Lost Games
            </th>
            <th>
                Order of Strength
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.ActionLink(item.Player.FullName, "Details", "Players", new { id = item.Player.ID })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Average)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Played)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WonMatches)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LostMatches)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WonGames)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LostGames)
            </td>
            <td>
                @((Convert.ToDecimal(item.TotalPositions) / Convert.ToDecimal(item.Played)).ToString())
            </td>

            @*<td>
            <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
        </td>*@
        </tr>
        }
    </tbody>
</table>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" />
@section scripts{
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#indxFix').DataTable({
                "order": [[1, "desc"]]
            });
        });
    </script>

}
