@{
    ViewData["Title"] = "Index";
}

<div class="form-group row">
    <h2>Positional Standings</h2>
    @if (ViewBag.error == "")
    {
        @for (short count = 0; count < @ViewBag.positions; count++)
        {
            <div class="col-sm-3">
                <table class="table table-bordered table-striped table-sm">
                    <thead>
                        <tr>
                            <th>Position @(count + 1)</th>
                            <th>%</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var player in ViewBag.playersByPosition)
                        {
                            @if (player.PositionID == (count + 1))
                            {
                        <tr>
                            <td>
                                @player.PlayerName
                            </td>
                            <td>@(Math.Round(player.winPerc).ToString())</td>
                            
                        </tr>
                            }
                            else
                            {
                                continue;
                            }
                        }
                    </tbody>
                </table>
            </div>
        }
    }
    else
    {
        <div class="alert alert-danger" role="alert">
            @ViewBag.error
        </div>
    }
</div>