@{
    ViewData["Title"] = "Index";
}
<h1 class="text-center">Squash Niagara Positional Standings</h1>
<form asp-action="Standings">
    <div class="form-inline">
        <div class="row ">
            <div class="form-group col-sm-10 ">
                @foreach (Division i in @ViewBag.DivisionID)
                {
                    <button name="DivisionID" value="@i.ID" class="btn btn-primary btn-sm">@i.Name</button>
                }
            </div>
            <div class="form-group col-sm-2 ">
                <label class="col-sm-5" style="margin-left:10px;">Season</label>
                <div class="col-sm-7">@Html.DropDownList("SeasonID", (SelectList)ViewBag.SeasonID, new { @class = "form-control input-sm", onchange = "this.form.submit();" })</div>

            </div>
        </div>
    </div>
</form>
<br /><br />
<div class="form-group row">

    @if (ViewBag.FirstTime == false)
    {
        @if (ViewBag.error == "")
        {
            @for (short count = 0; count < @ViewBag.positions; count++)
            {
                <div class="col-sm-3">
                    <table class="table table-bordered table-striped table-sm">
                        <thead>
                            <tr>
                                <th>Position @(count + 1)</th>
                                <th>%</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var player in ViewBag.playersByPosition)
                            {
                                @if (player.PositionID == (count + 1))
                                {
                                    <tr>
                                        <td>
                                            @player.PlayerName
                                        </td>
                                        <td>@(Math.Round(player.winPerc).ToString())</td>

                                    </tr>
                                }
                                else
                                {
                                    continue;
                                }
                            }
                        </tbody>
                    </table>
                </div>
            }
        }
        else
        {
            <div class="alert alert-danger" role="alert">
                @ViewBag.error
            </div>
        }
    }

</div>