@model SquashNiagara.ViewModels.FixtureMatchVM
@Html.ValidationSummary(true)

@{
    ViewData["Title"] = "Create";
    ViewBag.FixtureID = Model.Fixture.ID;
}

<h2>Add Result</h2>

<h4>Matches</h4>
<hr />

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fixture.Season)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fixture.Season.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fixture.Division)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fixture.Division.Name)
        </dd>
    </dl>
</div>
<table id="indxFix" class="table table-striped table-bordered nowrap" style="width: 100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fixture.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fixture.Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fixture.HomeTeam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fixture.AwayTeam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fixture.Venue)
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(model => model.Fixture.Date)
            </td>
            <td>
                @Html.DisplayFor(model => model.Fixture.Time)
            </td>
            <td>
                @Html.DisplayFor(model => model.Fixture.HomeTeam.Name)
            </td>
            <td>
                @Html.DisplayFor(model => model.Fixture.AwayTeam.Name)
            </td>
            <td>
                @Html.DisplayFor(model => model.Fixture.Venue.Name)
            </td>
        </tr>
    </tbody>
</table>


<hr />

<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="Fixture.ID" />
                <input type="hidden" asp-for="Fixture.SeasonID" />
                <input type="hidden" asp-for="Fixture.DivisionID" />
                <input type="hidden" asp-for="Fixture.HomeTeamID" />
                <input type="hidden" asp-for="Fixture.AwayTeamID" />
                <input type="hidden" asp-for="Fixture.Date" />
                <input type="hidden" asp-for="Fixture.Time" />
                <input type="hidden" asp-for="Fixture.VenueID" />
                <input type="hidden" asp-for="Fixture.CaptainResultID" />
                <input type="hidden" asp-for="Fixture.CaptainApproveID" />
                <input type="hidden" asp-for="Fixture.HomeTeamBonus" />
                <input type="hidden" asp-for="Fixture.AwayTeamBonus" />
            </div>
            @{ int counter = 1;
                for (int i = 0; i < ViewBag.nPositions; i++)
                {
                    <div class="form-group row">
                        <label asp-for="Matches[i].HomePlayerID" class="text-center col-sm-4  control-label"></label>
                        <label class="text-center col-sm-2">Position @counter</label>
                        <label asp-for="Matches[i].AwayPlayerID" class="text-center col-sm-4  control-label"></label>
                    </div>
                    <div class="form-group row">
                        <input type="hidden" asp-for="Matches[i].FixtureID" value=@ViewBag.FixtureID />

                        <div class="col-sm-2">
                            <select asp-for="Matches[i].HomePlayerID" class="form-control" asp-items="ViewBag.HomePlayerID"></select>
                        </div>

                        <div class="col-sm-2">
                            @*<input asp-for="Matches[i].HomePlayerScore" class="form-control" />
                                <span asp-validation-for="Matches[i].HomePlayerScore" class="text-danger"></span>*@

                            @Html.RadioButtonFor(model => model.Matches[i].HomePlayerScore, "0", new { @checked = "checked" })
                            0&nbsp;&nbsp;
                            @Html.RadioButtonFor(model => model.Matches[i].HomePlayerScore, "1")
                            1&nbsp;&nbsp;
                            @Html.RadioButtonFor(model => model.Matches[i].HomePlayerScore, "2")
                            2&nbsp;&nbsp;
                            @Html.RadioButtonFor(model => model.Matches[i].HomePlayerScore, "3")
                            3
                        </div>


                        <div class="col-sm-2 lead text-center">VS.</div>

                        <div class="col-sm-2">
                            <select asp-for="Matches[i].AwayPlayerID" class="form-control" asp-items="ViewBag.AwayPlayerID"></select>
                        </div>

                        <div class="col-sm-2">
                            @*<input asp-for="Matches[i].AwayPlayerScore" class="form-control" />
                                <span asp-validation-for="Matches[i].AwayPlayerScore" class="text-danger"></span>*@

                            @Html.RadioButtonFor(model => model.Matches[i].AwayPlayerScore, "0")
                            0&nbsp;&nbsp;
                            @Html.RadioButtonFor(model => model.Matches[i].AwayPlayerScore, "1")
                            1&nbsp;&nbsp;
                            @Html.RadioButtonFor(model => model.Matches[i].AwayPlayerScore, "2")
                            2&nbsp;&nbsp;
                            @Html.RadioButtonFor(model => model.Matches[i].AwayPlayerScore, "3")
                            3
                        </div>
                    </div>
                    @*<input type="hidden" asp-for="Matches[i].PositionID" />*@
                    counter += 1;
                };
            }


            <div class="form-group row">
                <div class="col-sm-4  text-center">
                    <label asp-for="Fixture.HomeTeamBonus" class="control-label"></label>
                    &nbsp;&nbsp;
                    <input id="Bonus" name="Bonus" value="Home" type="radio">
                </div>
                <div class="col-sm-2  text-center">



                    @*<input asp-for="Fixture.HomeTeamBonus" class="form-control" />
                        <span asp-validation-for="Fixture.HomeTeamBonus" class="text-danger"></span>*@

                    <label class="control-label">Tie</label>
                    &nbsp;&nbsp;
                    <input id="Bonus" name="Bonus" value="Tie" type="radio" checked>
                    @*<input asp-for="Fixture.HomeTeamBonus" class="form-control" />
                        <span asp-validation-for="Fixture.HomeTeamBonus" class="text-danger"></span>*@


                    @*<input asp-for="Fixture.AwayTeamBonus" class="form-control" />
                        <span asp-validation-for="Fixture.AwayTeamBonus" class="text-danger"></span>*@



                </div>
                <div class="col-sm-4  text-center">
                    <input id="Bonus" name="Bonus" value="Away" type="radio">
                    &nbsp;&nbsp;
                    <label asp-for="Fixture.AwayTeamBonus" class="  text-left control-label"></label>

                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Add Result" class="btn btn-default" />
            </div>
        </form>
    </div>

</div>

<div>
    <a asp-area="" asp-controller="Fixtures" asp-action="Index"></a>
    @*<a asp-action="Index">Back to List</a>*@
</div>

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/fixedheader/3.1.5/css/fixedHeader.bootstrap.min.css" />
<link rel="stylesheet" href=" https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap.min.css" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    @*<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>*@
    @*<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>*@
    @*<script src=" https://cdn.datatables.net/fixedheader/3.1.5/js/dataTables.fixedHeader.min.js"></script>*@
    @*<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>*@
    @*<script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap.min.js"></script>*@
    <script>
        $(document).ready(function () {
            $('#indxFix').DataTable({
                "order": [[0, "des"]],
                responsive: true
            });
        });
    </script>

    }
