@model IEnumerable<SquashNiagara.Models.Fixture>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Season)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Division)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HomeTeam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AwayTeam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Venue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HomeTeamScore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AwayTeamScore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HomeTeamBonus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AwayTeamBonus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CaptainResult)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CaptainApprove)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Season.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Division.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HomeTeam.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AwayTeam.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Venue.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HomeTeamScore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AwayTeamScore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HomeTeamBonus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AwayTeamBonus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CaptainResult.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CaptainApprove.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
